<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="VehicleManagement.styles.css" />
    
    <link rel="stylesheet" href="template/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="template/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="template/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="template/css/style.css" rel="stylesheet">
    <HeadOutlet />
</head>

<body>
    <Routes />

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="_framework/blazor.server.js"></script>
    <!-- Required vendors -->
    <script src="template/vendor/global/global.min.js"></script>
    <script src="template/js/quixnav-init.js"></script>
    <script src="template/js/custom.min.js"></script>


</body>

</html>
