@page "/feesheads"
@rendermode InteractiveServer

<PageTitle>Fees Heads</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Fees Heads</h4>
                <button type="button" class="btn btn-primary" @onclick="AddHandler">Add</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Fees Head</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in FeesHeadList)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        <span>
                                            <a href="javascript:void(0)" class="mr-4" @onclick="() => EditHandler(item.Id)" title="Edit">
                                                <i class="fa fa-pencil color-muted"></i>
                                            </a>
                                            <a href="javascript:void(0)" @onclick="() => DeleteHandler(item.Id)" title="Close" class="sweet-prompt">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
</div>

@if (ShowEditDialog)
{
    <div class="modal" style="display: block" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fees Heads</h5>
                    <button type="button" class="close" @onclick="CloseHandler">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Name" @bind-value="SelectedData.Name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseHandler">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveHandler">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@if (ShowDeleteConfirmation)
{
    <div class="modal" style="display: block" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h2>Confirm!</h2>
                        <h4 class="pt-3">Are you sure want to delete?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mr-2" @onclick="ConfirmDeleteOkHandler">Ok</button>
                    <button type="button" class="btn btn-outline-light" @onclick="ConfirmDeleteCancelHandler">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}